# repo A: docker-build-action/.github/workflows/build-push-docker.yml
name: Build and Push Docker Image

on:
  workflow_call:
    inputs:
      docker_context:
        required: true
        type: string
      docker_repo:
        required: true
        type: string
    secrets:
      DOCKER_USERNAME:
        required: true
      DOCKER_PASSWORD:
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout caller repo code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v6
        with:
          context: ${{ inputs.docker_context }}
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/${{ inputs.docker_repo }}:latest
            ${{ secrets.DOCKER_USERNAME }}/${{ inputs.docker_repo }}:${{ github.sha }}
          cache-from: type=registry,ref=${{ secrets.DOCKER_USERNAME }}/${{ inputs.docker_repo }}:cache
          cache-to: type=registry,ref=${{ secrets.DOCKER_USERNAME }}/${{ inputs.docker_repo }}:cache,mode=max
